body{
    background-color: rgb(239, 239, 239);
    font-family: sans-serif;
}

h1{
    margin: 0;
}

/* header */

.header{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
} 

.header a{
    text-decoration: none;
    color:currentColor
}
.nav{
    display:grid
}
/* page projet */

.projets{
    background-color: rgb(239, 239, 239);
}

.projets h1{
    font-size: 16px;
}