@font-face {
    font-family: "Space Mono";
    src: url("Space Mono-Regular (3).woff2") format("woff2");
}
@font-face {
    font-family: "Space Mono";
    src: url("Space Mono-Italic.woff2") format("woff2");
    font-style: italic;
}
*{
    box-sizing: border-box;
}
body{
    background-color: rgb(239, 239, 239);
    line-height: 1.5;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}


h1{
    margin: 0;
    font-size: 20px;
    font-style: italic;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

p{
    max-width: 600px;
}

/* header */

.header{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
} 

.header a{
    text-decoration: none;
    color:currentColor;
}
.nav{
    display: grid;
    grid-template-columns: repeat(auto-fill,200px);
    justify-content: center;
    gap: 12px;
}

.nav a {
 text-decoration: none;
 color:currentColor;
}

.nav a span{
    display: block;
    padding: 12px;
}

/* projets */

.projets{
    background-color: rgb(239, 239, 239);
}

.projets h1{
    font-size: 16px;
}